.all-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.all-frame {
  width: 100%;
  height: 1511px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.all-rectangle1 {
  top: 0px;
  left: 270px;
  width: 1170px;
  height: 1511px;
  position: absolute;
}
.all-image16756231800001110img-url1 {
  top: 199px;
  left: 430px;
  width: 329px;
  height: 309px;
  position: absolute;
}
.all-ellipse1 {
  top: 76px;
  left: 359px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.all-group {
  top: 72px;
  left: 40px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.all-ellipse {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.all-ellipse1 {
  top: 8.307723999023438px;
  flex: 1;
  left: 8.307723999023438px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.all-text {
  top: 64px;
  left: 81px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame50 {
  gap: 16px;
  top: 178px;
  left: 40px;
  width: 129px;
  display: flex;
  position: absolute;
  align-items: center;
}
.all-auto-layout-horizontal {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.all-frame1 {
  width: 24px;
  height: 24px;
}
.all-frame2 {
  width: 24px;
  height: 24px;
}
.all-frame3 {
  width: 24px;
  height: 24px;
}
.all-frame49 {
  gap: 36px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.all-text02 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text04 {
  color: rgba(152, 152, 152, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text06 {
  color: rgba(152, 152, 152, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame61 {
  gap: 16px;
  top: 1359px;
  left: 40px;
  width: 85px;
  display: flex;
  position: absolute;
  align-items: center;
}
.all-auto-layout-horizontal1 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.all-settings {
  width: 24px;
  height: 24px;
}
.all-logout {
  width: 24px;
  height: 24px;
}
.all-frame491 {
  gap: 41px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.all-text08 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text10 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-rectangle2 {
  top: 177px;
  left: 5px;
  width: 8px;
  height: 28px;
  position: absolute;
  border-radius: 0 4px 4px 0;
}
.all-frame40 {
  top: 217px;
  left: 815px;
  width: 315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.all-text12 {
  color: var(--dl-color-default-text3);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-rectangle8 {
  top: 321px;
  left: 815px;
  width: 138px;
  height: 28px;
  position: absolute;
  border-radius: 20px;
}
.all-frame62 {
  top: 323px;
  left: 825px;
  width: 124px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text14 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame63 {
  top: 321px;
  left: 1013px;
  width: 138px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text16 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-navlink {
  display: contents;
}
.all-frame65 {
  top: 460px;
  left: 821px;
  width: 155px;
  height: 30px;
  display: flex;
  padding: 0 35px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  text-decoration: none;
}
.all-rectangle12 {
  top: -7px;
  right: -13px;
  width: 163px;
  height: 39px;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/external/rectangle124079-vd3p.svg");
  background-position: center;
}
.all-text18 {
  color: rgba(244, 244, 244, 1);
  width: var(--dl-size-size-xlarge);
  font-size: 15px;
  align-self: center;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.all-navlink1 {
  display: contents;
}
.all-frame651 {
  top: 906px;
  left: 474px;
  width: 155px;
  height: 30px;
  display: flex;
  padding: 0 35px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  text-decoration: none;
}
.all-rectangle121 {
  top: -7px;
  right: -13px;
  width: 163px;
  height: 39px;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/external/rectangle124079-vd3p.svg");
  background-position: center;
}
.all-text20 {
  color: rgba(244, 244, 244, 1);
  width: var(--dl-size-size-xlarge);
  font-size: 15px;
  align-self: center;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame64 {
  top: 378px;
  left: 815px;
  width: 105px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text22 {
  color: rgba(29, 32, 39, 1);
  width: var(--dl-size-size-xlarge);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text24 {
  top: 378px;
  left: 1014px;
  color: rgba(29, 32, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-navlink2 {
  display: contents;
}
.all-frame652 {
  left: 812px;
  width: 155px;
  bottom: 153px;
  height: 30px;
  display: flex;
  padding: 0 35px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  text-decoration: none;
}
.all-rectangle122 {
  top: -7px;
  right: -13px;
  width: 163px;
  height: 39px;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/external/rectangle124079-vd3p.svg");
  background-position: center;
}
.all-text26 {
  color: rgba(244, 244, 244, 1);
  width: var(--dl-size-size-xlarge);
  font-size: 15px;
  align-self: center;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text28 {
  top: 321px;
  left: 1220px;
  color: rgba(29, 32, 39, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text30 {
  top: 264px;
  left: 815px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-rectangle3 {
  top: 76px;
  left: 416px;
  width: 945px;
  height: 40px;
  position: absolute;
  border-radius: 12px;
}
.all-frame48 {
  gap: 8px;
  top: 84px;
  left: 442px;
  width: 72px;
  display: flex;
  position: absolute;
  align-items: center;
}
.all-search {
  width: 24px;
  height: 24px;
}
.all-text32 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text34 {
  top: 93px;
  left: 80px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-line1 {
  top: 345px;
  left: 1008px;
  width: 142px;
  height: 1px;
  position: absolute;
}
.all-line2 {
  top: 345px;
  left: 1215px;
  width: 97px;
  height: 1px;
  position: absolute;
}
.all-text36 {
  top: 378px;
  left: 1206px;
  color: rgba(29, 32, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-line3 {
  top: 430px;
  left: 815px;
  width: 519px;
  height: 1px;
  position: absolute;
}
.all-rectangle10 {
  top: 452px;
  left: 1014px;
  width: 163px;
  height: 39px;
  position: absolute;
}
.all-frame66 {
  top: 459px;
  left: 1052px;
  width: 92px;
  height: 22px;
  display: flex;
  padding: 0 35px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text38 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text40 {
  top: 664px;
  left: 467px;
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame70 {
  top: 768px;
  left: 473px;
  width: 101px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text42 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame71 {
  top: 825px;
  left: 467px;
  width: 105px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text44 {
  color: rgba(29, 32, 39, 1);
  width: var(--dl-size-size-xlarge);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text46 {
  top: 825px;
  left: 666px;
  color: rgba(29, 32, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text48 {
  top: 768px;
  left: 604px;
  color: rgba(29, 32, 39, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: right;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text50 {
  top: 711px;
  left: 467px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-line4 {
  top: 792px;
  left: 467px;
  width: 113px;
  height: 1px;
  position: absolute;
}
.all-line5 {
  top: 791px;
  left: 636px;
  width: 62px;
  height: 1px;
  position: absolute;
}
.all-text52 {
  top: 825px;
  left: 858px;
  color: rgba(29, 32, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-line6 {
  top: 877px;
  left: 467px;
  width: 519px;
  height: 1px;
  position: absolute;
}
.all-rectangle13 {
  top: 899px;
  left: 666px;
  width: 163px;
  height: 39px;
  position: absolute;
}
.all-frame72 {
  top: 906px;
  left: 704px;
  width: 92px;
  height: 22px;
  display: flex;
  padding: 0 35px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text54 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-notifications {
  top: 84px;
  left: 367px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.all-image1648466160000470img-url1 {
  top: 633px;
  left: 1016px;
  width: 359px;
  height: 309px;
  position: absolute;
}
.all-frame73 {
  top: 1085px;
  left: 807px;
  width: 528px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.all-text56 {
  color: var(--dl-color-default-text3);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame76 {
  top: 1189px;
  left: 812px;
  width: 138px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text58 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-frame77 {
  top: 1246px;
  left: 807px;
  width: 105px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text60 {
  color: rgba(29, 32, 39, 1);
  width: var(--dl-size-size-xlarge);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text62 {
  top: 1246px;
  left: 1006px;
  color: rgba(29, 32, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text64 {
  top: 1189px;
  left: 1019px;
  color: rgba(29, 32, 39, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-text66 {
  top: 1132px;
  left: 807px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.all-line7 {
  top: 1213px;
  left: 807px;
  width: 142px;
  height: 1px;
  position: absolute;
}
.all-line8 {
  top: 1213px;
  left: 1014px;
  width: 97px;
  height: 1px;
  position: absolute;
}
.all-text68 {
  top: 1246px;
  left: 1198px;
  color: rgba(29, 32, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-line9 {
  top: 1298px;
  left: 807px;
  width: 519px;
  height: 1px;
  position: absolute;
}
.all-rectangle16 {
  top: 1320px;
  left: 1006px;
  width: 163px;
  height: 39px;
  position: absolute;
}
.all-frame78 {
  top: 1327px;
  left: 1044px;
  width: 92px;
  height: 22px;
  display: flex;
  padding: 0 35px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.all-text70 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.all-image166797576000023822teaserteaser-image-url1 {
  top: 1102px;
  left: 396px;
  width: 388px;
  height: 287px;
  position: absolute;
}
