.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-frame {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profile-rectanglemain {
  top: 0px;
  left: 270px;
  width: 770px;
  height: 900px;
  position: absolute;
}
.profile-ellipse1 {
  top: 76px;
  left: 953px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.profile-group {
  top: 72px;
  left: 40px;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.profile-ellipse01 {
  top: 8.307723999023438px;
  left: 8.307723999023438px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.profile-text {
  top: 64px;
  left: 81px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame50 {
  gap: 16px;
  top: 178px;
  left: 40px;
  width: 129px;
  display: flex;
  position: absolute;
  align-items: center;
}
.profile-auto-layout-horizontal {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-frame1 {
  width: 24px;
  height: 24px;
}
.profile-frame2 {
  width: 24px;
  height: 24px;
}
.profile-frame3 {
  width: 24px;
  height: 24px;
}
.profile-frame49 {
  gap: 36px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text002 {
  color: rgba(152, 152, 152, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text004 {
  color: rgba(152, 152, 152, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text006 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame61 {
  gap: 16px;
  top: 733px;
  left: 40px;
  width: 85px;
  display: flex;
  position: absolute;
  align-items: center;
}
.profile-auto-layout-horizontal01 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-settings {
  width: 24px;
  height: 24px;
}
.profile-logout {
  width: 24px;
  height: 24px;
}
.profile-frame491 {
  gap: 41px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text008 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text010 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-rectanglebut {
  top: 288px;
  left: 14px;
  width: 8px;
  height: 28px;
  position: absolute;
  border-radius: 0 4px 4px 0;
}
.profile-frame40 {
  top: 76px;
  left: 314px;
  width: 149px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text012 {
  color: var(--dl-color-default-text3);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text014 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 27px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame47 {
  gap: 32px;
  top: 107px;
  left: 1040px;
  width: 400px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-frame42 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-frame62 {
  width: 111px;
  height: 110px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-rectangle {
  top: 0px;
  left: 0px;
  width: 111px;
  height: 110px;
  position: absolute;
  border-radius: 20px;
}
.profile-rectangle1 {
  top: 0px;
  left: 0px;
  width: 111px;
  height: 110px;
  position: absolute;
  border-radius: 20px;
}
.profile-auto-layout-vertical {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-text016 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 21px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame39 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.profile-frame3 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-auto-layout-horizontal02 {
  gap: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  padding: 18px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(250, 251, 252, 1);
}
.profile-shuffle {
  width: 40px;
  height: 40px;
}
.profile-text018 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame4 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-auto-layout-horizontal03 {
  gap: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  padding: 18px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(250, 251, 252, 1);
}
.profile-style-two-tone {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group01 {
  top: 6.666666507720947px;
  left: 5.333333492279053px;
  width: 22px;
  height: 18.666667938232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group02 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 18.666667938232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector {
  top: 0px;
  left: 9.333333969116211px;
  width: 13px;
  height: 19px;
  position: absolute;
}
.profile-vector1 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 19px;
  position: absolute;
}
.profile-text023 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame5 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-auto-layout-horizontal04 {
  gap: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  padding: 18px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(250, 251, 252, 1);
}
.profile-style-two-tone1 {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group03 {
  top: 5.333333492279053px;
  left: 4px;
  width: 24px;
  height: 21.333332061767578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 21px;
  position: absolute;
}
.profile-text025 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame46 {
  gap: 16px;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-frame45 {
  gap: 16px;
  width: 388px;
  display: flex;
  padding: 0 29px 0 9px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-text030 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame44 {
  gap: 24px;
  width: 388px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-auto-layout-horizontal05 {
  gap: 26px;
  display: flex;
  align-items: center;
}
.profile-group04 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 251, 252, 1);
}
.profile-arrowrightalt {
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.profile-auto-layout-horizontal06 {
  gap: 95px;
  display: flex;
  align-items: center;
}
.profile-auto-layout-vertical01 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text032 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text034 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text036 {
  color: var(--dl-color-default-text3);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-horizontal07 {
  gap: 26px;
  display: flex;
  align-items: center;
}
.profile-group05 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 251, 252, 1);
}
.profile-shuffle1 {
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.profile-auto-layout-horizontal08 {
  gap: 62px;
  display: flex;
  align-items: center;
}
.profile-auto-layout-vertical02 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text038 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text040 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text045 {
  color: rgba(29, 32, 39, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-horizontal09 {
  gap: 26px;
  display: flex;
  align-items: center;
}
.profile-group06 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 251, 252, 1);
}
.profile-showchart {
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.profile-auto-layout-horizontal10 {
  gap: 96px;
  width: 349px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profile-auto-layout-vertical03 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text047 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text049 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text054 {
  color: rgba(50, 190, 75, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text056 {
  top: 743px;
  left: 1228px;
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-rectangle3 {
  top: 76px;
  left: 529px;
  width: 397px;
  height: 40px;
  position: absolute;
  border-radius: 12px;
}
.profile-frame48 {
  gap: 8px;
  top: 84px;
  left: 545px;
  width: 72px;
  display: flex;
  position: absolute;
  align-items: center;
}
.profile-search {
  width: 24px;
  height: 24px;
}
.profile-text057 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-notifications {
  top: 84px;
  left: 960px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.profile-frame60 {
  gap: 34px;
  top: 437px;
  left: 314px;
  width: 687px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.profile-frame54 {
  gap: 10px;
  width: 422px;
  height: 397px;
  display: flex;
  padding: 40px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.profile-frame534 {
  gap: 40px;
  top: 54px;
  left: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.profile-frame521 {
  gap: 188px;
  display: flex;
  position: relative;
  align-items: flex-end;
}
.profile-frame510 {
  top: 0px;
  flex: 1;
  left: 260px;
  width: 97px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-start;
}
.profile-text2 {
  top: -17px;
  left: 23px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-style-round {
  top: -18px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.profile-textdoh {
  top: -25px;
  left: -2px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group10 {
  width: 356px;
  height: 229.666015625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-auto-layout-horizontal11 {
  gap: 46px;
  top: 214.666015625px;
  left: 56.90625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.profile-text059 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text061 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text063 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text065 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text067 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-horizontal12 {
  gap: 32px;
  top: 0px;
  left: 0px;
  width: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-text069 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text071 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text073 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text075 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text077 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group07 {
  top: 5.666015625px;
  left: 55.90625px;
  width: 298px;
  height: 197px;
  display: flex;
  opacity: 0.24;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-line {
  top: 197px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.profile-line1 {
  top: 147.55062866210938px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.profile-line2 {
  top: 98.8988037109375px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.profile-line3 {
  top: 49.449371337890625px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.profile-line4 {
  top: 0px;
  left: 0px;
  width: 298px;
  height: 1px;
  position: absolute;
}
.profile-vector3 {
  top: 10.166015625px;
  left: 54.90625px;
  width: 301px;
  height: 194px;
  position: absolute;
}
.profile-vector4 {
  top: 9.666015625px;
  left: 54.90625px;
  width: 299px;
  height: 171px;
  position: absolute;
}
.profile-frame58 {
  gap: 10px;
  height: 397px;
  display: flex;
  padding: 40px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.profile-frame57 {
  gap: 43px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text079 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame59 {
  gap: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-group08 {
  width: 137px;
  height: 137.0581512451172px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse02 {
  top: 0px;
  left: 0px;
  width: 137px;
  height: 137px;
  position: absolute;
}
.profile-ellipse03 {
  right: 0px;
  width: 85px;
  bottom: 4px;
  height: 94px;
  position: absolute;
}
.profile-ellipse04 {
  top: 69px;
  left: 39.50000762939453px;
  width: 53px;
  height: 68px;
  position: absolute;
}
.profile-ellipse05 {
  top: 34px;
  left: 32px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.profile-frame56 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-frame51 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.profile-rectangle6 {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}
.profile-text080 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame55 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.profile-rectangle7 {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}
.profile-text081 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame561 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.profile-rectangle71 {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}
.profile-text082 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text084 {
  top: 93px;
  left: 80px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame1 {
  gap: 24px;
  top: 170px;
  left: 289px;
  width: 727px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
}
.profile-group7 {
  width: 294px;
  height: 190px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-rectangle2 {
  top: 87px;
  left: 31px;
  width: 232px;
  height: 103px;
  opacity: 0.50;
  position: absolute;
  border-radius: 20px;
}
.profile-frame11 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: 189px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-default-secondary);
}
.profile-group09 {
  top: 26px;
  left: 199px;
  width: 137px;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse06 {
  top: 0px;
  left: 0px;
  width: 137px;
  height: 137px;
  position: absolute;
}
.profile-ellipse07 {
  top: 34px;
  left: 32px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.profile-group10 {
  top: -1px;
  left: -68px;
  width: 362px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-intersect {
  top: 0px;
  left: 12px;
  width: 278px;
  height: 191px;
  position: absolute;
}
.profile-intersect1 {
  top: 0px;
  left: 0px;
  width: 257px;
  height: 191px;
  position: absolute;
}
.profile-image {
  top: 1px;
  left: 68px;
  width: 294px;
  height: 191px;
  position: absolute;
}
.profile-auto-layout-vertical04 {
  gap: 24px;
  top: 58px;
  left: 29px;
  width: 159px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.profile-auto-layout-vertical05 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text086 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 27px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-vertical06 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text088 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text090 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-horizontal13 {
  gap: 3.6000001430511475px;
  top: 26px;
  left: 29px;
  width: 96px;
  display: flex;
  position: absolute;
  align-items: center;
}
.profile-group11 {
  width: 22px;
  height: 21.600000381469727px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse08 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-ellipse09 {
  top: 4.984622001647949px;
  left: 4.984585762023926px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.profile-text092 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text093 {
  font-weight: 500;
}
.profile-group8 {
  width: 294px;
  height: 190px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-rectangle3 {
  top: 87px;
  left: 31px;
  width: 232px;
  height: 103px;
  opacity: 0.50;
  position: absolute;
  border-radius: 20px;
}
.profile-frame31 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: 189px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-image: linear-gradient(137deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
}
.profile-group12 {
  top: 26px;
  left: 199px;
  width: 137px;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse10 {
  top: 0px;
  left: 0px;
  width: 137px;
  height: 137px;
  position: absolute;
}
.profile-ellipse11 {
  top: 34px;
  left: 32px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.profile-group13 {
  top: -1px;
  left: -68px;
  width: 362px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-intersect2 {
  top: 0px;
  left: 12px;
  width: 278px;
  height: 191px;
  position: absolute;
}
.profile-intersect3 {
  top: 0px;
  left: 0px;
  width: 257px;
  height: 191px;
  position: absolute;
}
.profile-image1 {
  top: 1px;
  left: 68px;
  width: 294px;
  height: 191px;
  position: absolute;
}
.profile-auto-layout-vertical07 {
  gap: 24px;
  top: 58px;
  left: 29px;
  width: 157px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.profile-auto-layout-vertical08 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text095 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 27px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-vertical09 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text097 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text099 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-horizontal14 {
  gap: 3.6000001430511475px;
  top: 26px;
  left: 29px;
  width: 96px;
  display: flex;
  position: absolute;
  align-items: center;
}
.profile-group14 {
  width: 22px;
  height: 21.600000381469727px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse12 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-ellipse13 {
  top: 4.984622001647949px;
  left: 4.984585762023926px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.profile-text101 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text102 {
  font-weight: 500;
}
.profile-group9 {
  top: 0px;
  right: -205px;
  width: 294px;
  height: 190px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-rectangle4 {
  top: 87px;
  left: 31px;
  width: 232px;
  height: 103px;
  opacity: 0.50;
  position: absolute;
  border-radius: 20px;
}
.profile-frame12 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: 189px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-image: linear-gradient(-71deg, rgba(19, 201, 62, 1) 0%, rgba(222, 208, 86, 1) 0%, rgba(221, 255, 159, 1) 100%, rgba(221, 255, 159, 1) 100%);
}
.profile-group15 {
  top: 26px;
  left: 199px;
  width: 137px;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse14 {
  top: 0px;
  left: 0px;
  width: 137px;
  height: 137px;
  position: absolute;
}
.profile-ellipse15 {
  top: 34px;
  left: 32px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.profile-group16 {
  top: -1px;
  left: -68px;
  width: 362px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-intersect4 {
  top: 0px;
  left: 12px;
  width: 278px;
  height: 191px;
  position: absolute;
}
.profile-intersect5 {
  top: 0px;
  left: 0px;
  width: 257px;
  height: 191px;
  position: absolute;
}
.profile-image2 {
  top: 1px;
  left: 68px;
  width: 294px;
  height: 191px;
  position: absolute;
}
.profile-auto-layout-vertical10 {
  gap: 24px;
  top: 58px;
  left: 29px;
  width: 206px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.profile-auto-layout-vertical11 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text104 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 27px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-vertical12 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text106 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text108 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-auto-layout-horizontal15 {
  gap: 3.6000001430511475px;
  top: 26px;
  left: 29px;
  width: 96px;
  display: flex;
  position: absolute;
  align-items: center;
}
.profile-group17 {
  width: 22px;
  height: 21.600000381469727px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse16 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-ellipse17 {
  top: 4.984622001647949px;
  left: 4.984585762023926px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.profile-text110 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 12.600000381469727px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text111 {
  font-weight: 500;
}
